<div class="group-container">
   <div class="group-name"><%= @group.name %> Workhours</div>
</div>

<%= show_all_group_workhours(@group) %>


<div class="button-container">
    <%= link_to 'Create new Group', new_group_path, :class => "my-button" %>
</div>

<div class="button-container">
    <%= link_to 'Add new Workhours', new_workhour_path, :class => "my-button" %>
</div>